pipeline/P2_PL_Incremental_Sales_Data_Load.json
{
	"name": "P2_PL_Incremental_Sales_Data_Load",
	"properties": {
		"activities": [
			{
				"name": "LKP_Old_Watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "P2_DS_SQL_Incremental_Watermark_Lookup",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LKP_New_Watermark",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LKP_Old_Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "-- We must use 'AS NewWatermarkValue' so the pipeline recognizes the name\nSELECT MAX(SaleDate) AS NewWatermarkValue FROM Sales_Source",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "P2_DS_SQL_Incremental_Source_Sales",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy_Incremental_Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LKP_New_Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "-- Fetching data between the old and new watermark timestamps\nSELECT * FROM Sales_Source \nWHERE SaleDate > '@{activity('LKP_Old_Watermark').output.firstRow.WatermarkValue}' \nAND SaleDate <= '@{activity('LKP_New_Watermark').output.firstRow.NewWatermarkValue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "P2_DS_SQL_Incremental_Source_Sales",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "P2_DS_ADLS_Incremental_Sink_Parquet",
						"type": "DatasetReference",
						"parameters": {
							"FolderPath": "@formatDateTime(activity('LKP_New_Watermark').output.firstRow.NewWatermarkValue, 'dd-MMM-yyyy')"
						}
					}
				]
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy_Incremental_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_write_watermark]",
					"storedProcedureParameters": {
						"LastModifiedDate": {
							"value": {
								"value": "@activity('LKP_New_Watermark').output.firstRow.NewWatermarkValue",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": "'Sales_Source'",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Ls_Anil_SQL_Source",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-02-23T19:57:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}